*{
    margin:0px;
    padding:0px;
    
}
img{
    width:100%;
}

.blueBG{
    color: white;
    background-color: rgb(16, 16, 105);
    font-size: 40px;
}

.text-between{
    background-color: red;
    font-size: 25px;
}

@media(min-width: 992px){
    .text-between{
        font-size:45px;
    }
}